[glip]
baseurl = https://repos.influxdata.com/rhel/\$releasever/\$basearch/stable
enabled = 1
gpgcheck = 1
gpgkey = https://repos.influxdata.com/influxdb.key
name = GLIP repository
retries = 2
skip_if_unavailable = 1
timeout = 10
